{% extends 'base/base.html' %}
{% load crispy_forms_tags %}
{% block content %}
    <section class="pt-5 pb-5 mb-5 mt-0  d-flex">
        <div class="container">
            <div class="row">
                <div class="col-md-12">
                    <div class="card">
                        <div class="card-body">
                            <div class="row">
                                <div class="col-md-12">
                                    <h4>Convert</h4>
                                    <hr>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-md-12">
                                    <form method="post" action="{% url 'converter:pdf-create' %}" enctype="multipart/form-data">
                                        {% csrf_token %}
                                        {{ form|crispy }}
                                        <div>
                                            <div class="col-12 text-center">
                                                <button name="submit" type="submit" class="btn btn-primary">
                                                    Convert
                                                </button>
                                            </div>
                                        </div>
                                    </form>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
{% endblock content %}

